.btn-propio {
  background-color: black;
  color: white;
}

.btn-propio:hover {
  background-color: #F8D02F;
  color: black;
}

.card-title{
  color: black;
}
*

.color-ins{
  color: #F8D02F;
}

.link-propio:hover, .mi-busqueda:hover {
  color: #F8D02F;
  background-color: black;
}

.link-propio, .mi-busqueda:hover {
  color: white;
  background-color: black;
}

.mi-busqueda {
  color: white;
  border-color: white;
}

body {
  background-color: black;
}

.footer-container {
  border-top: 1px solid #ccc; /* Línea divisora */
  padding: 1px; /* Ajusta según tus preferencias */
  margin-top: 10px; /* Ajusta según tus preferencias */
}

.miNav {
  color:#F8D02F;
  background-color: black;
}

#Seminuevos {
  background-color: #333; /* Fondo oscuro */
  color: white; /* Letra blanca */
  width: 80%; /* El contenedor ocupa el 80% del ancho de la pantalla */
  max-width: 500px; /* Ancho máximo (opcional) */
  padding: 20px; /* Espaciado interior */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  font-family: Arial, sans-serif; /* Tipografía moderna */

  /* Centramos el contenedor en su lugar dentro del flujo del documento */
  margin: 30px auto; /* Centrado horizontal y margen superior para separación */
  text-align: center; /* Centrado del texto dentro del contenedor */
}

/* Estilo para los párrafos */
#Seminuevos p {
  font-size: 16px; /* Tamaño de fuente */
  margin: 10px 0; /* Espaciado entre los textos */
}

/* Estilo de la lista de items */
#Seminuevos ul {
  list-style-type: none; /* Sin viñetas */
  padding: 0;
}

#Seminuevos li {
  margin: 10px 0; /* Espaciado entre los elementos */
  padding: 10px;
  background-color: #444; /* Fondo gris oscuro para cada item */
  border-radius: 8px; /* Bordes redondeados en los items */
  font-size: 16px; /* Tamaño de fuente */
}



/* Sección de contacto */
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .contact-info {
    padding: 15px;
    max-width: 90%; /* Ajuste el ancho en pantallas más pequeñas */
  }
}

/* Media query para pantallas muy pequeñas */
@media (max-width: 480px) {
  .contact-info {
    padding: 10px;
    max-width: 95%; /* Aumenta el ancho en pantallas aún más pequeñas */
  }
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 15px;
}

/* Enlace a Instagram */
.social-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-link:hover {
  background-color:black; /* Instagram color */
  transform: scale(1.05);
}

.social-icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

.social-link span {
  font-size: 18px;
}

/* Sección de tienda */
.product-info {
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}

.product-info h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.product-description {
  font-size: 18px;
  color: #ccc;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}


.hidden-label {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

.btn-form {
  background-color: white;
  color: black;
}

.btn-form:hover {
  background-color: aqua;
  color: black;
}

h1 {

  color: #F8D02F;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 80px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2%;
  color: whitesmoke;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5%;
  color: whitesmoke;
}
h5 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5%;
  color: whitesmoke;
}


/* Estilos específicos para monitores de computadora */
@media only screen and (min-width: 768px) {
  .producto {
    transition: all 0.4s;
  }

  .producto:hover {
    transform: scale(1.1);
  }
}


#miCarruselDesktop {
  max-height: 900px; 
  margin-bottom: 20px; 
  margin-top:50px;
}

#miCarruselDesktop img {
  object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
  max-height: 100%; /* Hace que las imágenes ocupen el 100% de la altura máxima del carrusel */
  width: 100%; /* Ajusta el ancho para ocupar el 100% del contenedor */
  margin: auto; /* Centra la imagen horizontalmente */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
}

#miCarruselMobile img {
  object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
  max-height: 90%; /* Hace que las imágenes ocupen el 100% de la altura máxima del carrusel */
  width: 100%; /* Ajusta el ancho para ocupar el 100% del contenedor */
  margin: auto; /* Centra la imagen horizontalmente */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
}

#miCarruselMobile {
  /* Estilos específicos para el carrusel móvil */
  max-height: 600px;
  margin-bottom: 10px;
  margin-top:50px;
}

 /* Ajustes para pantallas más pequeñas (menos de 576px) */
 @media (max-width: 575.98px) {
  #miCarruselDesktop {
      display: none; /* Oculta el carrusel de escritorio en pantallas pequeñas */
  }

  #miCarruselMobile {
      display: block; /* Muestra el carrusel móvil en pantallas pequeñas */
  }
}

/* Ajustes para pantallas más grandes (mayores de 575.98px) */
@media (min-width: 576px) {
  #miCarruselDesktop {
      display: block; /* Muestra el carrusel de escritorio en pantallas grandes */
  }

  #miCarruselMobile {
      display: none; /* Oculta el carrusel móvil en pantallas grandes */
  }
}


.texto {
  font-size: 20px;

  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  margin: 3% 1.5%;
  background-color: black;
  padding: 2%;
  border: 1.5px solid;
  border-radius: 10px;
  display: block;
  text-align: justify;
}

.copyright {
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  margin: 3% 1.5%;

}

.texto2 {
  text-align: center;
  font-size: 22px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  background-color: black;
  padding: 1%;
}

/*# sourceMappingURL=style.css.map */
