.btn-propio {
  background-color: black;
  color: white;
}

.btn-propio:hover {
  background-color: #F8D02F;
  color: black;
}

.card-title{
  color: black;
}
*

.color-ins{
  color: #F8D02F;
}

.link-propio:hover, .mi-busqueda:hover {
  color: #F8D02F;
  background-color: black;
}

.link-propio, .mi-busqueda:hover {
  color: white;
  background-color: black;
}

.mi-busqueda {
  color: white;
  border-color: white;
}

body {
  background-color: black;
}

.footer-container {
  border-top: 1px solid #ccc; /* Línea divisora */
  padding: 1px; /* Ajusta según tus preferencias */
  margin-top: 10px; /* Ajusta según tus preferencias */
}

.miNav {
  color:#F8D02F;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
}

.btn-form {
  background-color: white;
  color: black;
}

.btn-form:hover {
  background-color: aqua;
  color: black;
}

h1 {

  color: #F8D02F;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 80px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2%;
  color: whitesmoke;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5%;
  color: whitesmoke;
}
h5 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5%;
  color: whitesmoke;
}


/* Estilos específicos para monitores de computadora */
@media only screen and (min-width: 768px) {
  .producto {
    transition: all 0.4s;
  }

  .producto:hover {
    transform: scale(1.1);
  }
}


#miCarruselDesktop {
  max-height: 900px; 
  margin-bottom: 20px; 
  margin-top:50px;
}

#miCarruselDesktop img {
  object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
  max-height: 100%; /* Hace que las imágenes ocupen el 100% de la altura máxima del carrusel */
  width: 100%; /* Ajusta el ancho para ocupar el 100% del contenedor */
  margin: auto; /* Centra la imagen horizontalmente */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
}

#miCarruselMobile img {
  object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
  max-height: 90%; /* Hace que las imágenes ocupen el 100% de la altura máxima del carrusel */
  width: 100%; /* Ajusta el ancho para ocupar el 100% del contenedor */
  margin: auto; /* Centra la imagen horizontalmente */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
}

#miCarruselMobile {
  /* Estilos específicos para el carrusel móvil */
  max-height: 600px;
  margin-bottom: 10px;
  margin-top:50px;
}

 /* Ajustes para pantallas más pequeñas (menos de 576px) */
 @media (max-width: 575.98px) {
  #miCarruselDesktop {
      display: none; /* Oculta el carrusel de escritorio en pantallas pequeñas */
  }

  #miCarruselMobile {
      display: block; /* Muestra el carrusel móvil en pantallas pequeñas */
  }
}

/* Ajustes para pantallas más grandes (mayores de 575.98px) */
@media (min-width: 576px) {
  #miCarruselDesktop {
      display: block; /* Muestra el carrusel de escritorio en pantallas grandes */
  }

  #miCarruselMobile {
      display: none; /* Oculta el carrusel móvil en pantallas grandes */
  }
}


.texto {
  font-size: 20px;

  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  margin: 3% 1.5%;
  background-color: black;
  padding: 2%;
  border: 1.5px solid;
  border-radius: 10px;
  display: block;
  text-align: justify;
}

.copyright {
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  margin: 3% 1.5%;

}

.texto2 {
  text-align: center;
  font-size: 22px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  background-color: black;
  padding: 1%;
}

/*# sourceMappingURL=style.css.map */
